<% @live_companion = LiveCompanion.find(favorite.live_companion_id) %>
<% user = @live_companion.user %>
<li id="favorite-<%= favorite.id %>">
  <div class="row favorite-live_companion">
    <div class="col-md-7">
      <div class="col-md-4">
        <%= link_to((image_tag @live_companion.picture.thumb200.url), live_companion_path(@live_companion.id), class: 'live_companion-picture') if @live_companion.picture.url.present? %>
      </div>
      <div class="col-md-8 escape-float">
        <p><%= link_to @live_companion.artist_name, live_companion_path(@live_companion) %></p>
        <p><%= @live_companion.live_name %></p>
        <p><%= @live_companion.schedule %></p>
        <p><%= @live_companion.live_venue %></p>
        <p><%= @live_companion.live_memo %></p>
      </div>
      <p class="live_companion-user">投稿者 <%= link_to user.name, user_path(user) %></p>
    </div>
  </div>
</li>