<% @live_companion = LiveCompanion.find(favorite.live_companion_id) %>
<% user = @live_companion.user %>
<li id="favorite-<%= favorite.id %>">
  <div class="row favorite-dish">
    <div class="col-md-7">
      <p><%= link_to @live_companion.artist_name, live_companion_path(@live_companion) %></p>
      <p><%= link_to @live_companion.live_name, live_companion_path(@live_companion) %></p>
      <p><%= @live_companion.live_memo %></p>
      <p class="cook-user">投稿者 <%= link_to user.name, user_path(user) %></p>
    </div>
  </div>
</li>