<li id="live_companion-<%= live_companion.id %>">
  <%= link_to gravatar_for(live_companion.user, size: 50), live_companion.user %>
  <span class="artist_name"><%= link_to live_companion.artist_name, live_companion_path(live_companion) %></span>
  <span class="live_name"><%= link_to live_companion.live_name, live_companion_path(live_companion) %></span>
  <span class="live_memo"><%= live_companion.live_memo %></span><br>
  <span class="timestamp">
    <%= time_ago_in_words(live_companion.created_at) %>前に投稿
  </span>
  <% if current_user.admin? || (current_user == live_companion.user) %>
    <%= link_to "削除", live_companion_path(live_companion), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>