<% user = User.find(notification.from_user_id) %>
<% live_companion = LiveCompanion.find(notification.live_companion_id) %>
<li id="notification-<%= notification.id %>">
  <div>
    <% if notification.variety == 1 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたの投稿が<%= link_to user.name, user_path(user) %>さんに気になる登録されました。</p>
    <% elsif notification.variety == 2 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたの投稿に<%= link_to user.name, user_path(user) %>さんがコメントしました。
      「<%= notification.content %>」</p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="col-md-4">
        <%= link_to((image_tag live_companion.picture.thumb200.url), live_companion_path(live_companion.id), class: 'live_companion-picture') if live_companion.picture.url.present? %>
      </div>
      <div class="col-md-8 escape-float">
        <p><%= link_to live_companion.artist_name, live_companion_path(live_companion) %></p>
        <p><%= live_companion.live_name %></p>
        <p><%= live_companion.live_memo %></p>
      </div>
    </div>
  </div>
</li>